*{
  margin: 0%;
  padding : 0%;
  box-sizing: border-box;
}
html,
body,
#root{
  height: 100%;
  width: 100%;
}
main{
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display : flex;
  gap : 1rem
}
main .left, 
main .right{
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}
main .left{
  height: auto;
  min-height: 100%;
  background-color: black;
  position: relative;
}
.left .code , .code pre, .code pre code{
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: #0c0c0c;
}
main .left .review{
 position: absolute;
 bottom : 1rem;
 right: 1rem;
 background-color: rgb(219, 219, 255) ;
 color: #000000;
 padding: 0.5rem 2rem;
 font-weight: 500;
 cursor: pointer;
 border-radius: 0.7rem;
 -webkit-user-select: none;
 user-select: none;
}
main .right{
  height: auto;
  min-height: 100%;
  background-color: #343434;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  overflow-y: auto;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.review-content{
  max-height: 100%;
  width: 100%;
  color: white;
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
}
